{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div id="banniere-title" class="uk-flex uk-flex-center uk-flex-middle">
		<h1 id="author-title">
			<p id="sylvain">Sylvain Jolivalt</p>
			<p id="auteur">Auteur - Illustrateur</p>
		</h1>
	</div>

	<div id="banniere">
		<img src="{{ asset('uploads/images/AssetTemplate/ete2.png') }}"/>
	</div>
	<center>
		<div class="uk-card uk-card-default uk-width-4-5@m">
			<div class="uk-card-header">
				<div class="uk-grid-small uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img class="uk-border-circle" width="256" height="256" src="{{ asset('uploads/images/Portrait.jpg') }}">
					</div>
					<div class="uk-width-expand">
						<h1 class="uk-card-title uk-margin-remove-bottom">Présentation</h1>
					</div>
				</div>
			</div>
			<div id="text-presentation">
				<p>Je suis né en 1970 à Strasbourg. Passionné de bandes-dessinées et plus encore de comics depuis mes sept ans, je me suis mis très tôt au dessin pour pouvoir reproduire mes mes personnages préférés, mais aussi créer les miens. Puis vint l’intérêt pour les mythologies qui permettait de parler de personnages aux pouvoirs surnaturels tout en passant pour un enfant sérieux. Puis je me découvris une passion pour le Japon en lisant la BD Serval, parue en 1984, de Chris Claremont et Frank Miller, dans lequel j’apprends que mon X-Man préféré a vécu au Japon, parle japonais couramment, et combat des ninja. Puis, mon intérêt pour le Japon médiéval se révéla par le biais des BD Kogaratsu, de Bosse et Michetz. Puis vint le jeu de rôle qui occupa une grande partie de mon temps. En étudiant le japonais, j’accédais à tout un univers à peine effleuré par les publications françaises : les yôkai, les créatures fantastiques des contes et légendes. Après deux voyages au Japon et fort de bagages remplis de nombreux ouvrages en japonais sur le sujet, je me décidais à écrire un bestiaire fabuleux dans lequel je présente ces créatures. Cette publication m’a permis d’être invité en de nombreuses occasions par des conventions, mais aussi par des bibliothèques et universités pour animer des conférences sur le sujet.
																																																											Je fais actuellement partie de l’association qui organise principalement les conventions Japan Addict. J’y apporte mes notions sur la culture traditionnelle japonaise, mais aussi mes techniques de création artistique, surtout pour l’élaboration de décors et d’accessoires, et aussi l’animation d’ateliers créatifs.
				</p>
			</div>
			<img class="uk-border" width="512" height="512" src="{{ asset('uploads/images/Portrait2.jpg') }}">
		</center>
		<hr class="uk-divider-icon">
		<section id="galerie">
			<center>
				<div class="uk-h1">Galerie</div>
			</center>
			<div class="uk-container">
				<center>
					<div class="gallery">

						<div class="gallery-item">
							<img class="gallery-image" src="{{ asset('uploads/images/Yokai/petitmanekikitsune.jpg') }}" alt="Petit Manekikitsune">
						</div>

						<div class="gallery-item">
							<img class="gallery-image" src="{{ asset('uploads/images/Divers/DrinkDraw6.jpg') }}" alt="Drink and Draw">
						</div>

						<div class="gallery-item">
							<img class="gallery-image" src="{{ asset('uploads/images/Cosplay/Cosplay Hellboy2.jpg') }}" alt="Cosplay Hellboy">
						</div>

						<div class="gallery-item">
							<img class="gallery-image" src="{{ asset('uploads/images/Yokai/Yomi-maruLeGarçondesEnfers.jpg') }}" alt="Yomi-maru le Garçon des Enfers">
						</div>

						<div class="gallery-item">
							<img class="gallery-image" src="{{ asset('uploads/images/Yokai/Dragon6.jpg') }}" alt="Dragon">
						</div>

						<div class="gallery-item">
							<img class="gallery-image" src="{{ asset('uploads/images/Cosplay/CosplaySteampunk.jpg') }}" alt="Cosplay Steampunk">
						</div>

					</div>

				</div>
			</center>
		</div>
	</section>
	<hr class="uk-divider-icon">
	<section id="livre">
		<center>
			<div class="uk-h1">Livres</div>
		</center>
		<center>
			<div class="gallery">
				<div id="text-presentation">
					<div class="uk-h2">Rencontres à l’heure du boeuf</div>
					<p>Mon livre, paru en octobre 2007. Bestiaire des créatures fabuleuses du Japon.</p>
					<div class="uk-container">
						<div class="livre-item">
							<img class="livre-image" src="{{ asset('uploads/images/Livres/HeureDuBoeuf.png') }}" alt="Rencontres à l'heure du boeuf">
						</div>
					</div>
				</div>

				<div id="text-presentation">
					<div class="uk-h2">Recueils de scénarii pour le jeu de rôle La Légende des cinq Anneaux</div>
					<p>Réalisés à titre associatif, avec d’autres artistes, nous avons fourni plusieurs dessins de personnages, décors ou objets pour illustrer les différents articles.</p>
					<div class="uk-h2">Les parchemins secrets de Rokugan</div>
					<p>Les Parchemins secrets de Rokugan, Rouleau premier, Gempuku (Décembre 2006)</p>
					<div class="uk-container">
						<div class="livre-item">
							<a href="https://www.voixrokugan.org/download/gempukku-recueil/"><img class="livre-image" src="{{ asset('uploads/images/Livres/LesParcheminsSecretsDeRokugan.jpg') }}" alt="Les parchemins secrets de Rokugan"></a>
						</div>
					</div>
				</div>


				<div id="text-presentation">
					<div class="uk-h2">Les parchemins secrets de Rokugan</div>
					<p>Les Parchemins secrets de Rokugan, Rouleau second, Matsuri (Juin 2008)</p>
					<div class="uk-container">
						<div class="livre-item">
							<a href="https://www.voixrokugan.org/download/matsuri-recueil/"><img class="livre-image" src="{{ asset('uploads/images/Livres/LesParcheminsSecretsDeRokugan2.jpg') }}" alt="Les parchemins secrets de Rokugan2"></a>
						</div>
					</div>
				</div>

				<div id="text-presentation">
					<div class="uk-h2">Les parchemins secrets de Rokugan</div>
					<p>Les Parchemins secrets de Rokugan, Rouleau troisième, Chikara no za (Septembre 2009)</p>
					<div class="uk-container">
						<div class="livre-item">
							<a href="https://www.voixrokugan.org/download/chikara-no-za-recueil/"><img class="livre-image" src="{{ asset('uploads/images/Livres/LesParcheminsSecretsDeRokugan3.jpg') }}" alt="Les parchemins secrets de Rokugan3"></a>
						</div>
					</div>
				</div>

				<div id="text-presentation">
					<div class="uk-h2">L’Asie-Monde, Chronique sur l’Asie et le Pacifique. 2002-2011</div>
					<p>Après la parution de mon livre, M. Jean-François Sabouret m’avait contacté pour écrire un article pour le site internet du Réseau Asie et Pacifique (CNRS/FMSH). Ces articles ont par la suite été publiés dans l’ouvrage ci-dessous.
																		Mon article,  « L’année du Bœuf de Terre, le temps dans l’ancien Japon » est consultable en cliquant sur l'image ci-dessous :</p>
					<div class="uk-container">
						<div class="livre-item">
							<a href="https://books.openedition.org/editionscnrs/12241"><img class="livre-image" src="{{ asset('uploads/images/Livres/AsieMonde.jpg') }}" alt="L'Asie-Monde"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
