{% extends 'base.html.twig' %}

{% block body %}
	{% if articles is not empty %}
		{% for article in articles %}
			<article id="page-article" class="uk-article">

				<h1 class="uk-article-title">
					<a class="uk-link-reset" href="">{{ article.title }}</a>
				</h1>

				<p class="uk-article-meta">{{ 'Ecrit par'|trans }}<a href="#">
						{{ article.author}}</a>
					<time datetime="2016-1-1">{{ article.createAt|date("d/m/Y") }}</time>
				</p>

				<p class="uk-panel uk-panel-box uk-text-truncate">{{ article.truncatedContent(1200)|raw }}</p>

				<div class="uk-grid-small uk-child-width-auto" uk-grid>
					<div>
						<a class="uk-button uk-button-text" href="{{ path('article_show', {'id': article.id}) }}">Lire plus...</a>
					</div>
					<div>
						<a class="uk-button uk-button-text" href="">Commentaires</a>
					</div>
				</div>

			</article>

			{# <div class="card mt-30">
			                <header class="card-header">
			                    <h1 class="card-header-title">
			                        {{ article.title }}
			                    </h1>
			                </header>
			                <div class="card-content">
			                    <div class="content">
			                        {{ article.content|raw }}
			                        <br>
			                        <time datetime="2016-1-1">{{ article.createAt|date("d/m/Y") }}</time>
			                        {{ 'Ecrit par'|trans }} {{ article.author.username}}
			                    </div>
			                </div>
			                <footer class="card-footer">
			                    <a href="{{ path('article_show', {'id': article.id}) }}" class="card-footer-item is-primary">
			                        {{ 'Lire plus...' }}
			                    </a>
			                </footer>
			            </div> #}
		{% endfor %}

		{# {% include 'paginator/paginator.html.twig' %} #}
	{% else %}
		{# <div class="has-text-centered">
			<h1 class="title is-4">{{ 'home.no_article'|trans }}</h1>
		</div> #}
	{% endif %}
{% endblock %}
