{% extends 'base.html.twig' %}

{% block title %}Les Yôkais
{% endblock %}

{% block body %}
    <section id="galerie">
		<center>
			<div class="uk-h1">Yôkai</div>
		</center>
		<div class="uk-container">
			<center>
				<div class="gallery">

					<div class="gallery-item">
						<img class="gallery-image" src="{{ asset('uploads/images/Yokai/petitmanekikitsune.jpg') }}" alt="Petit Manekikitsune">
					</div>

					<div class="gallery-item">
						<img class="gallery-image" src="{{ asset('uploads/images/Divers/DrinkDraw6.jpg') }}" alt="Drink and Draw">
					</div>

					<div class="gallery-item">
						<img class="gallery-image" src="{{ asset('uploads/images/Cosplay/Cosplay Hellboy2.jpg') }}" alt="Cosplay Hellboy">
					</div>

					<div class="gallery-item">
						<img class="gallery-image" src="{{ asset('uploads/images/Yokai/Yomi-maruLeGarçondesEnfers.jpg') }}" alt="Yomi-maru le Garçon des Enfers">
					</div>

					<div class="gallery-item">
						<img class="gallery-image" src="{{ asset('uploads/images/Yokai/Dragon6.jpg') }}" alt="Dragon">
					</div>

					<div class="gallery-item">
						<img class="gallery-image" src="{{ asset('uploads/images/Cosplay/CosplaySteampunk.jpg') }}" alt="Cosplay Steampunk">
					</div>

				</div>

			</div>
		</center>
	</div>
</section>
{% endblock %}